body {
    background-color: cadetblue;
}

h2 {
    text-align: center;
}

/* #name-input-container {

} */
.row { 
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding: none;
    width: 50%;
    height: 50%; 
}

.cell {
    border: 2px solid black;
    margin: 2%;
    padding: 10%;
    width: 50%;
    height: 50%;

}

#game-board {
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-container {
    text-align: center;
    margin-top: 1%;
}